<!DOCTYPE html>
<html lang="en">
    <%- include('./partiels/head') %>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>blog node</h1></a>
            <p>A net node site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog/create">New Blogs</a></li>

        </ul>

    </nav>
    <div class="about content">
        <h2>All Blogs</h2>
        <P>welcom hamza for you one first blog</P>
        <P>welcom hamza for you one first blog</P>
        <P>welcom hamza for you one first blog</P>
    </div>
    <%- include('./partiels/footer') %>
</body>
</html>